<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">Student List</h1>
  <form method="get" action="/students/search" class="mb-3">
    <input type="text" name="name" class="form-control" placeholder="Search by name" value="${searchQuery}">
    <button type="submit" class="btn btn-primary mt-2">Search</button>
  </form>
  <a href="/students/new" class="btn btn-success mb-3">Add New Student</a>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Status</th>
      <th>Courses</th>
      <th>Avatar</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.id}"></td>
      <td th:text="${student.name}"></td>
      <td th:text="${student.email}"></td>
      <td th:text="${student.phone}"></td>
      <td th:text="${#dates.format(student.bod, 'yyyy-MM-dd')}"></td>
      <td th:text="${student.sex ? 'Male' : 'Female'}"></td>
      <td th:text="${student.status ? 'Studying' : 'On Leave'}"></td>
      <td>
        <span th:each="course : ${student.courses}" th:text="${course.name} + ' '" />
      </td>
      <td>
        <img th:if="${student.avatar != null}" th:src="${student.avatar}" alt="Avatar" style="max-height: 50px;">
      </td>
      <td>
      <td>
        <a th:href="@{'/students/edit/' + ${student.id}}" class="btn btn-primary btn-sm">Edit</a>
        <a th:href="@{'/students/delete/' + ${student.id}}" class="btn btn-danger btn-sm"
           onclick="return confirm('Bạn có chắc muốn xóa sinh viên này');">Delete</a>
      </td>
      </td>
    </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          class="page-item" th:classappend="${currentPage == i} ? 'active'">
        <a th:href="@{/students(page=${i})}" class="page-link" th:text="${i + 1}"></a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>