<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>List Book</h4>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Book Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>ISBN</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.bookTitle}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.ISBN}"></td>
        <td><a th:href="${'/book-delete/' + book.id}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>