<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
</head>
<body>
<h1>Đăng nhập</h1>
<form th:action="@{/login}" th:object="${customer}" method="post">
    <label for="username">Tên đăng nhập:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <br>

    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br>

    <button type="submit">Đăng nhập</button>
</form>
<p th:if="${error}" th:text="${error}"></p>
</body>
</html>